<!DOCTYPE html>
<html>
<head>
	


  <title>RoommateMatching</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>
	<%= render 'layouts/header' %>	
	<div class="container bs-docs-container">

		<div class="row">
			<div class="col-md-9" role="main">
				<% if notice %>
				  <p class="alert alert-success"><%= notice %></p>
				<% end %>
				<% if alert %>
				  <p class="alert alert-danger"><%= alert %></p>
				<% end %>
	<%= yield %>
			</div>
			<div class="col-md-3">
			          <div class="bs-docs-sidebar hidden-print" role="complementary">
			            <ul class="nav bs-docs-sidenav">
              
			                <li>
			  <a href="#glyphicons">Glyphicons</a>
			  <ul class="nav">
			    <li><a href="#glyphicons-glyphs">Available glyphs</a></li>
			    <li><a href="#glyphicons-how-to-use">How to use</a></li>
			    <li><a href="#glyphicons-examples">Examples</a></li>
			  </ul>
			</li>
			   </ul>
			            <a class="back-to-top" href="#top">
			              Back to top
			            </a>
						<%= form_tag(rooms_path,method: :get) do %>   
						<%= text_field_tag :search, params[:search],placeholder: "Search", class: "form-control" %>
						      <button class="btn" type="submit">Go!</button>
						      <!--Add by Chen Sun for re pull data from craiglist.org and recalculating distance-->
						      <!--%= button_to 'REFRESH INFORMATION', {:controller =>"rooms", :action=> "refresh_the_home"} %-->
						<% end %>
			          </div>
			        </div>
			      </div>

			    </div>
			
		</div>
	<%= render 'layouts/footer' %>
</div>


</body>
</html>

