<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript"> 

	var current 

	$(function() {          
	    $('body').mousewheel(function(event, delta) {
	        var $current = $('div.current');

	        console.log(delta);
	        console.log($current);

	        if (delta > 0) {
	            $prev = $current.prev();

	            if ($prev.length) {
	                $('body').scrollTo($prev, 500);
	                $current.removeClass('current');
	                $prev.addClass('current');
	            }
	        } else {
	            $next = $current.next();

	            if ($next.length) {
	                $('body').scrollTo($next, 500);
	                $current.removeClass('current');
	                $next.addClass('current');
	            }
	        }

	        event.preventDefault();
	    });
	});

	</script>

  <title>RoommateMatching</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
	<div class="current">
	<%= render 'layouts/header' %>	
</div>
<div class="container">
	<section id="forms">
		<div class="current">
	<%= yield %>
		</div>
</section>
	<%= render 'layouts/footer' %>
</div>


</body>
</html>

