<!DOCTYPE html>
<html>
<head>
	<script src="jquery-1.11.1.min.js"> 

	
	$('html, body').animate({
	    scrollTop: ($('div.current').offset().top)
	},500);

	</script>

  <title>RoommateMatching</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<div class="current">
	<%= render 'layouts/header' %>	
</div>
<div class="container">
<div class="current">
	<%= yield %>
</div>
	<%= render 'layouts/footer' %>
</div>


</body>
</html>

